@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: #fff;
}

 @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-color: #000;
  }
} 

@layer components {
  .my-react-select-container .my-react-select__control {
    @apply bg-white dark:bg-alternativeBlack rounded-lg border-[1px] h-[40px] border-grayDark dark:border-neutral-800;
  }

  .my-react-select-container .my-react-select__menu {
    @apply bg-white dark:bg-alternativeBlack border-neutral-300 dark:border-neutral-600;
  }

  .my-react-select-container .my-react-select__option {
    @apply text-neutral-600 dark:text-neutral-200 bg-white hover:bg-productBlue hover:text-white dark:bg-alternativeBlack;
  }

   .my-react-select-container .my-react-select__option--is-focused {
    @apply dark:bg-productBlue;
  } 

  .my-react-select-container .my-react-select__indicator-separator {
    @apply bg-neutral-600;
  }

  .my-react-select-container .my-react-select__input-container,
  .my-react-select-container .my-react-select__placeholder,
  .my-react-select-container .my-react-select__single-value {
    @apply text-alternativeBlack dark:text-neutral-200;
  }
}

h1 {
  font-size: 24px;
  font-weight: 600;
}

body {
  color: rgb(var(--foreground-rgb));
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modalPop {
  margin: 5% auto; 
  padding: 20px;
  width: 30%; 
  border-radius: 15px;

  @media (max-width: 768px) {
    width: 90%;
  }
}

.textWrapper {
  text-align: left;
}


